activemq {

  org.apache.activemq.artemis.spi.core.security.jaas.LDAPLoginModule required
     debug=true
     initialContextFactory=com.sun.jndi.ldap.LdapCtxFactory
     connectionURL="${AMQ_LDAP_CONNECTION_URL}"
     connectionUsername="${AMQ_LDAP_CONNECTION_USERNAME}"
     connectionPassword=${AMQ_LDAP_CONNECTION_PASSWORD}
     connectionProtocol=${AMQ_LDAP_CONNECTION_PROTOCOL}
     authentication=${AMQ_LDAP_AUTHENTICATION}
     userBase="${AMQ_LDAP_USERBASE}"
     userSearchMatching="(CN=${AMQ_LDAP_USER_SEARCH_MATCHING})"
     userSearchSubtree=${AMQ_LDAP_SEARCH_SUBTREE}
     roleBase="${AMQ_LDAP_ROLEBASE}"
     roleName=${AMQ_LDAP_ROLENAME}
     roleSearchMatching="${AMQ_LDAP_ROLE_SEARCH_MATCHING}"
     roleSearchSubtree=${AMQ_LDAP_ROLE_SEARCH_SUBTREE}
     reload=true  
  ;

};
