activemq {

  org.apache.activemq.artemis.spi.core.security.jaas.LDAPLoginModule required
     debug=true
     initialContextFactory=com.sun.jndi.ldap.LdapCtxFactory
     connectionURL="ldap://ldap-ad.uboc.com:389"
     connectionUsername="CN=svc_wqq842d,OU=ePAM_Accounts,OU=Service Accounts,OU=Miscellaneous Accounts,DC=uboc-ad,DC=corp,DC=uboc,DC=com"
     connectionPassword=redhat.123
     connectionProtocol=s
     authentication=simple
     userBase="DC=uboc-ad,DC=corp,DC=uboc,DC=com"
     userSearchMatching="(CN=sAMAccountName)"
     userSearchSubtree=true
     roleBase="DC=uboc-ad,DC=corp,DC=uboc,DC=com"
     roleName=name
     roleSearchMatching="(member={0})"
     roleSearchSubtree=false
     reload=true  
  ;

};
